
{% extends 'food/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

{% block body %}
    {% for item in item_list %}
    
        <div class="row p-1">
            <div class="col-md-3 offset-md-2">
                <img class="card w-75" src="{{ item.item_image }}">
            </div>
            <div class="col-md-4">
                    <h2>{{ item.item_name }} </h2>
                    <h3>{{ item.item_description }}</h3>
                    <h5>${{ item.item_price }}</h5>
                    <h6>{{ item.user_name }}</h6>
            </div>
            <div class="col">
                <div class="col-md p-1">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
                </div>
                <div class="col-md p-1">
                    <a href="{% url 'food:update_item' item.id %}" class="btn btn-warning">Update</a>
                </div>
            </div>
        </div>
        
    {% endfor %} 

{% endblock %}

</body>
</html>

